.Button {
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #966909;
    margin-right: 35px;
}

.Button:hover, .Button:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}